/*
input[type="datetime-local"] {
	all: unset;
}
*/

input, textarea {
	appearance: none;
	width: 100%;
	color: var(--color-heading);
	background-color: var(--input-base);
	outline: 1px solid var(--input-stroke);
	border: 2px solid transparent;
	border-radius: .5rem;
	padding: .75rem 1rem;
	font: var(--text);
}

input::placeholder {
  color: var(--input-placeholder);
}

input[type="datetime-local"] {
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  position: absolute;
	inset: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

textarea {
	resize: none;
}