@import url(fields/index.css);

form {
	display: grid;
	gap: 3rem;
	margin: 2.5rem 0 5rem;
}

fieldset {
	display: grid;
	gap: 2rem;
	border: none;
}

legend {
	display: flex;
	gap: .75rem;
	align-items: center;
	font: var(--text-heading-sm);
	margin-bottom: 1.5rem;
}

/* fieldset que anterior é fieldset */
fieldset + fieldset {
	margin-top: 3rem;
}

.terms-wrapper {
	display: grid;
}

label {
	display: block;
	margin-bottom: .75rem;
}
